<div>
  <h4 style='color:#999;'>You should try to fall asleep at one of
    the following times:</h4>

  <%= form_for :reminder, url: reminders_path do |f| %> 
    <ul class = 'list-inline'>
      <li><%= label_tag(:reminder_hour, 9) %></li>
      <li><%= check_box_tag(:call)%></li>
      <li><%= check_box_tag(:sms)%></li>    
    </ul>
  <% end %>
</div>



