<div>
  <h4 style="color:#999;">You should try to fall asleep at one of
    the following times:</h4>
  <table class="table">
    <tbody class="reminder-method">
      <tr class="reminder-sleep">
        <td class="time">9:30pm</td>
        <td>
          <table> <tbody>
              <tr> <td>
                  <select class="form-control method">
                    <option>SMS</option>
                    <option selected="selected">Courtesy call</option>
                    <option>Email</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
