
<h1>Sleeping Chart</h1>

<div id="chart-1" style="height: 300px;"></div>

<script type="text/javascript">
new Chartkick.ColumnChart("chart-1", [["Sun", 8],["Mon", 4],["Tue", 6], ["Wed", 5], ["Thurs", 8], ["Fri", 4], ["Sat", 14]]);


</script>