
<h1>Sleeping Chart</h1>
<center>
<div id="chart-1" style="height: 300px;"></div>
<div class="row">
	<div class="col-md-6">
	<h1>Average Number of Sleep</h1>
		<h2>5 hours </h2>

	</div>
	<div class="col-md-6">
		<h1>Total Number of sleep</h1>
				<h2>40 hours </h2>

	</div>
</div>	
<script type="text/javascript">
new Chartkick.ColumnChart("chart-1", [["Sun", 8],["Mon", 4],["Tue", 6], ["Wed", 5], ["Thurs", 8], ["Fri", 4], ["Sat", 14]]);

</script></center>