<div class ="row">
	<div class="col-md-1"></div>
	<div class="col-md-4 jumbotron">
		<%if @alarms.first.present?%>
			<h2>Your next alarm is set for <span
                style="color:#428bca;"><%= @alarms.first.hour_time %> : <%= @alarms.first.minute_time %> am</span>.</h2>

		<%else %>
			<h2>You have no alarm.</h2>
			<h4> Click below to create alarm </h4>
				<a href="/alarms/new" class="btn btn-danger"> Create Alarm Now !</a>



		<% end %>

		
	</div>
		<div class="col-md-1"></div>

	<div class="col-md-5 jumbotron">
		<p><strong>"Zleep-science"</strong> will help you set your alarm <i>right</i> and offers <i>relaxing</i> music to help you fall asleep.
            Get started with the menu at the <b><i>top-right</i></b> of the screen!</p>

	</div>

	<div class="col-md-1"></div>

	

</div>



