<div class ="row">
	<div class="col-md-1"></div>
	<div class="col-md-4 jumbotron">
		<h2>Your next alarm is set for <span
                style="color:#428bca;">6:30 am</span>.<br><small>8 hours and 12
                minutes from now</small></h2>
	</div>
		<div class="col-md-1"></div>

	<div class="col-md-5 jumbotron">
		<p><strong>"Zleep-science"</strong> will help you set your alarm <i>right</i> and offers <i>relaxing</i> music to help you fall asleep.
            Get started with the menu at the <b><i>top-right</i></b> of the screen!</p>

	</div>

	<div class="col-md-1"></div>

	

</div>



