(function() {

  $(document).ready(function(){
    initializePage();
  });

}).call(this);


function initializePage () {
  $(".btn.btn-primary.btn-calculate").click(function (e) {
    e.preventDefault(); 
    /* fetching selected vals */
    var type = $("#alarm_alarm_type option:selected").text();
    var hour = new Number ($("#alarm_hour_time option:selected").text());
    var min  = new Number ($("#alarm_minute_time option:selected").text());
    var ampm = $("#alarm_ampm option:selected").text();    
    var targetTime = new Time (hour, min, ampm);
    console.log(' > ' +targetTime.hour);

    var alarm = new Alarm ( targetTime, null);
    var times = alarm.getTimes();
    //times = to_ruby(times);
    console.log(times.toString());
    
    renderTimes(times);

  });
}

function Time(h,m, ap) {
  this.hour = h;
  this.min  = m;
  this.ampm = ap;
  var preptime = 14;

  this.toMilitary = function () {
    if (this.ampm == 'PM')
      this.hour = this.hour + 12;
  }
  this.addHour = function (h) {
    this.hour = (this.hour + 1) % 24;
  }

  this.addMin = function (m) {
    var tmp = this.min + m + preptime;
    if (tmp > 59) {
      this.min = tmp % 60;
      this.addHour(1);
    }
  }

  this.addHourMin = function (h,m) {
    this.addMin(m);
    this.addHour(h);
    return [this.hour, this.min];
  }
  return (this.toMilitary());
}

/* input time in military */
function Alarm(targetTime, type) {
  this.AVG_CYCLE = 90;
  this.NUM_CYCLE = 5;
  this.MIN_TO_ASLEEP = 25;

  this.alarmtime = targetTime;
  var _more = new Time (9,25, null);
  var _normal = new Time (7,55,null);
  var _less = new Time (6,25, null);

  this.getTimes = function () {
    var times = [];
    var t = [_more, _normal, _less];
    var label = ['more', 'normal', 'low'];

    for ( var i = 0; i < 3; i++) {
      t[i].addHourMin(this.alarmtime.hour, this.alarmtime.min);
      var hr_min = [t[i].hour, t[i].min];
      times.push(hr_min);
      /*times[label[i]] = {hour: t[i].hour, min: t[i].min};
      console.log("time" + i + " > " + " " + times[label[i]].hour+ ":"+times[label[i]].min);*/
    }

    return times;
  }
}

function renderTimes (times) {
 
  var html = "  <h4 style='color:#999;'>You should try to fall asleep at one of the following times:</h4><div class='btn-group' data-toggle='buttons'>";
    var count = 1;
  for (var i in times) { 

    //test
    console.log(">> hour: "+times[i][0] +"min: "+times[i][1] ); 
    var label = times[i][0] + ":" + times[i][1];
    html +=  _radio_tag( "time"+count , times[i][0], times[i][1], label); 
    count++;
  }
  console.log(html);
  $("#reminder_times").append(html);
  



}

function _radio_tag (id, hour, min, label) {
  return "<label class='btn btn-primary'><input type='radio' name='options' id=" + id + " hour="+ hour +"min="+min+">" + label +"</label>";
}
