(function() {
  $(document).ready(function(){
    initializePage();
  });
}).call(this);

var type = $("#alarm_alarm_type option:selected").text();
var hour =$(".bootstrap-timepicker-hour").val();
var min =$(".bootstrap-timepicker-minute").val();
var ampm = $("#alarm_ampm option:selected").text(); 
var repeatingDays = '';

function initializePage () {
  $('#checkbox-list-days').hide();
  $('#repeatCheckbox:checkbox').click(function() {
    var $this = $(this);
    // $this will contain a reference to the checkbox   
    if ($this.is(':checked')) {
      $('#checkbox-list-days').slideDown( "fast");
    } else {
      $('#checkbox-list-days').slideUp( "fast", function() {
        $('input[name=dayCheckBox]').prop('checked', false);
      });

    }
  });
  _modalHandler();
}

/* ======================*/
/* Time Module          */
/* ======================*/
function Time(h,m, ap) {
  this.hour = h;
  this.min  = m;
  this.ampm = ap;
  var preptime = 14;

  this.toMilitary = function () {
    if (this.ampm == 'PM')
      this.hour = this.hour + 12;
  }
  this.addHour = function (h) {
    this.hour = (this.hour + 1) % 24;
    if (this.hour >= 0 && this.hour > 12)
      this.ampm = 'AM';
    else this.ampm = 'PM';
  }

  this.addMin = function (m) {
    var tmp = this.min + m + preptime;
    if (tmp > 59) {
      this.min = tmp % 60;
      this.addHour(1);
    }
  }
  this.addHourMin = function (h,m) {
    this.addMin(m);
    this.addHour(h);
    return [this.hour, this.min];
  }

  return (this.toMilitary());
}

/* ======================*/
/* Alarm Module          */
/* ======================*/
function Alarm(targetTime, type) {
  this.AVG_CYCLE = 90;
  this.NUM_CYCLE = 5;
  this.MIN_TO_ASLEEP = 25;
  this.alarmtime = targetTime;
  var _more = new Time (9,25, null);
  var _normal = new Time (7,55,null);
  var _less = new Time (6,25, null);

  this.getTimes = function () {
    var times = [];
    var t = [_less, _normal, _more];
    var label = ['less', 'normal', 'more'];
    var amount = ['9h25m', '7h55m','6h25m'];
    for ( var i = 0; i < 3; i++) {
      t[i].addHourMin(this.alarmtime.hour, this.alarmtime.min);
      var hr_min = [t[i].hour, t[i].min, t[i].ampm, amount[i]];
      times.push(hr_min);
    }
    return times;
  }
}

/* ======================*/
/* _render times helper  */
/* ======================*/
function _renderTimes (times) {
  var html = "<h4 style='color:#999;'>You should try to fall asleep at one of the following times:</h4>"
    var count = 1;
  for (var i in times) { 
    console.log(">> hour: "+times[i][0] +"min: "+times[i][1] ); 
    var label = times[i][0] + ":" + times[i][1] + '  '+ times[i][2]+' ' + times[i][3];
    html +=  _radio_tag( "time"+count , times[i][0], times[i][1], label); 
    count++;
  }
  return html;
}

function _radio_tag (id, hour, min, label) {
  return "<div class='radio'> <label> <input type='radio' name='radioReminder' id="+id+ " hour="+hour+" min="+min+">"+label+"</label> </div> ";
}

/* ========================*/
/* _moduleHandler Module   */
/* ========================*/
function _modalHandler() { 
  var DEFAULT_MODAL_TWO_DIALOG = $("#modal-dialog-2").clone();
  var CREATE_BTN = $("#btn-create-new").clone();
  var dirty_dialog_1 = "";
  var input_time = '';



  /* modal-1 next */
  $("#btn-modal-1-next").click(function (e) {
    e.preventDefault(); 
    console.log(type+hour+min+ampm);
    input_time = $("#timepicker").val();
    type = $("#alarm_alarm_type option:selected").text();
    hour = $(".bootstrap-timepicker-hour").val();
    min  = $(".bootstrap-timepicker-minute").val();
    ampm = $("#alarm_ampm option:selected").text();  
    repeatingDays =  $('input[name=dayCheckBox]:checked').map(function() { return $(this).val(); });
    var targetTime = new Time (hour, min, ampm);
    var alarm = new Alarm ( targetTime, null);
    var times = alarm.getTimes();
    var html = _renderTimes(times);

    // store alarm input values
    $("#alarm_hour_time").val(hour);
    $("#alarm_minute_time").val(min);
    $("#alarm_ampm").val(ampm);
    $("#alarm_wakeup_reminder_type").val($('input[name=optionsRadios]:checked').val());
    $("#alarm_repeat_monday").val();
    $("#alarm_repeat_tuesday").val();
    $("#alarm_repeat_wednesday").val();
    $("#alarm_repeat_thursday").val();
    $("#alarm_repeat_friday").val();
    $("#alarm_repeat_saturday").val();
    $("#alarm_repeat_sunday").val();


    $("#modal-body-2").prepend(html);
    dirty_dialog_1 = $("#modal").html();     // get dialog1
    $("#modal-dialog-1").replaceWith($("#modal-dialog-2"));
    if (type=="wakeup"){
      $(".modal-title").append("Bedtimes")
    } else 
      $(".modal-title").append("Wake-up times"); 

  });

  $("#btn-modal-2-cancel").click( function (e) {
    e.preventDefault();
    location.reload(); 
  });

  $("#btn-modal-2-back").click( function (e) {
    e.preventDefault();
    $("#modal-dialog-2").replaceWith(dirty_dialog_1);
    $("#timepicker").val(input_time);
  });

  $(".btn_save").click( function (e) {
    e.preventDefault();

    $("#alarm_hour_time").val(hour);
    $("#alarm_minute_time").val(min);
    $("#alarm_ampm").val(ampm);
    //_getSelectedTime();

  });

}

function _hourEnd () { return  hour;}
function _minuteEnd () {return  min;}

function _hourStart () { return $('input[name=radioReminder]:checked').attr("hour"); }
function _minuteStart () { return $('input[name=radioReminder]:checked').attr("min");}


