(function() {
  $(document).ready(function(){
    initializePage();
  });
}).call(this);

var type = $("#alarm_alarm_type option:selected").text();
var hour =$(".bootstrap-timepicker-hour").val();
var min =$(".bootstrap-timepicker-minute").val();
var ampm = $("#alarm_ampm option:selected").text(); 
var repeatingDays = '';
var reminder_type = '';
var reminder_time = '';

function initializePage () {
  $('#checkbox-list-days').hide();
  $('#repeatCheckbox:checkbox').click(function() {
    var $this = $(this);
    // $this will contain a reference to the checkbox   
    if ($this.is(':checked')) {
      $('#checkbox-list-days').slideDown( "fast");
    } else {
      $('#checkbox-list-days').slideUp( "fast", function() {
        $('input[name=dayCheckBox]').prop('checked', false);
      });

    }
  });
  _modalHandler();
}


/* ======================*/
/* Alarm Module          */
/* ======================*/
function Alarm(hour, min) {
  var timeA = new Date();
  var timeB = [new Date(), new Date(), new Date()];
  var amounts = [{ hours: 7, minutes: 55 }, { hours: 9, minutes: 25 }, { hours: 10, minutes: 55 }];
  timeA.setHours(hour);
  timeA.setMinutes(min);
  var localFormat = [];

  console.log("timeA: " + timeA.toString());
  for ( var i in timeB) {
    var alarmHour = timeA.getHours();
    var alarmMin = timeA.getMinutes();
    var amountHour = amounts[i]["hours"];
    var amountMin = amounts[i]["minutes"];
    var ampm = 'am';
    timeB[i].setHours(hour - amountHour);
    timeB[i].setMinutes(min - amountMin - 14);
    if (timeB[i].getHours() > 12) 
      ampm = 'pm';
    console.log("timeB: " + timeB[i].toString() + " (" +amountHour+ ", " +amountMin+ ")");

    localFormat.push([_timeFormatter(timeB[i].toLocaleTimeString()), amountHour + 'h' + amountMin + 'm']);
  }
  this.times = localFormat;

  // form time to [<hour>, <min>, <AM/PM>]]
  function _timeFormatter (time) {
    var str1 = time.split(' ');
    var str2 = str1[0].split(":");
    return str2[0] + ":" + str2[1] + ' ' +str1[1];
  }

}



/* ======================*/
/* _render times helper  */
/* ======================*/
function _renderTimes (times, type) {

  var html ='';
  if (type == 'wakeup')
    html = "<h4 style='color:#999;'>You should fall asleep at one of the following times:</h4>";
  else
    html = "<h4 style='color:#999;'>You should wake up at one of the following times:</h4>";

      var count = 1;
  for (var i in times) { 
    console.log(times[i] ); 
    var label = times[i][0] +" "+ times[i][1];
    html +=  _radio_tag( "time"+count , times[i][0], label); 
    count++;
  }
  return html;
}

function _radio_tag (id, val, label) {
  return "<div class='radio'> <label> <input type='radio' name='radioReminder' id="+id+ " value="+val+"/>"+label+"</label> </div> ";
}

/* ========================*/
/* _moduleHandler Module   */
/* ========================*/
function _modalHandler() { 
  var DEFAULT_MODAL_TWO_DIALOG = $("#modal-dialog-2").clone();
  var CREATE_BTN = $("#btn-create-new").clone();
  var dirty_dialog_1 = "";
  var input_time = '';



  $('body').on('click',".btn-modal-1-next",function (e) {
    e.preventDefault(); 
    console.log("btn-1-next-clicked");
    input_time = $("#timepicker").val();
    type = $("#alarm_alarm_type option:selected").text();
    hour = $(".bootstrap-timepicker-hour").val();
    min  = $(".bootstrap-timepicker-minute").val();
    ampm = $("#alarm_wakeup_ampm option:selected").text();  
    repeatingDays =  $('input[name=dayCheckBox]:checked').map(function() { return $(this).val(); });
  

    // store alarm input values
    $("#alarm_wakeup_hour").val(hour);
    $("#alarm_wakeup_minute").val(min);
    $("#alarm_wakeup_ampm").val(ampm);
    $("#alarm_wakeup_reminder_type").val($('input[name=optionsRadios]:checked').val());
    $("#alarm_repeat_monday").val( $("#monday").prop('checked'));
    $("#alarm_repeat_tuesday").val( $("#tuesday").prop('checked'));
    $("#alarm_repeat_wednesday").val( $("#wednesday").prop('checked'));
    $("#alarm_repeat_thursday").val( $("#thursday").prop('checked'));
    $("#alarm_repeat_friday").val( $("#friday").prop('checked'));
    $("#alarm_repeat_saturday").val( $("#saturday").prop('checked'));
    $("#alarm_repeat_sunday").val( $("#sunday").prop('checked'));
  //  $("#alarm_title").val($("#title-input-field").val());

    var alarm = new Alarm ( hour, min);
    var times = alarm.times;
    var html = _renderTimes(times, type);

    console.log("renderTimes >>" + html);

    $("#timelist-div").html(html);
    dirty_dialog_1 = $("#modal").clone(true, true).html();     // get dialog1
    //console.log(dirty_dialog_1);
    $("#modal").html($(".modal-2").clone(true, true).html());
    if (type=="wakeup"){
      $(".modal-title").html("Bedtimes")
    } else 
      $(".modal-title").html("Wake-up times"); 


    $(".btn-modal-2-back").on( "click", function (e) {
      e.preventDefault();
      $("#modal").html(dirty_dialog_1);
      $("#timepicker").val(input_time);
      //$("#btn-create-new").click();
    });
  });

  $(".btn-modal-2-cancel").click( function (e) {
    e.preventDefault();
    location.reload(); 
  });



  $(".btn_save").click( function (e) {
    e.preventDefault();
    $("#alarm_wakeup_hour").val(hour);
    $("#alarm_wakeup_minute").val(min);
    $("#alarm_wakeup_ampm").val(ampm);
    $("#alarm_sleep_reminder_time").val(); // TODO 
    //_getSelectedTime();

  });

}

function _hourEnd () { return  hour;}
function _minuteEnd () {return  min;}

function _hourStart () { return $('input[name=radioReminder]:checked').attr("hour"); }
function _minuteStart () { return $('input[name=radioReminder]:checked').attr("min");}

