<!-- myAlarms container -->
<div class="container myAlarms">
    <!-- myAlarms container [top header + create button] -->
    <div class="myAlarms-top">
        <div style="float:right;"><a
                href="/alarm/myAlarms" class="btn btn-default btn-create-new"><span class="glyphicon glyphicon-plus"></span>
                CREATE NEW ALARM</a></div>
    </div>
</div>
<!-- myAlarms container [body] -->
<div class="container myAlarms-body">
    <!-- myAlarms container [items]-->
    <div class="jumbotron">
        <h2>Welcome to Zleep, your personalized restful sleep assistant!</h2>
        <p>Typical sleep sessions occur in fixed-length REM cycles, and
            waking up amidst such a cycle or not getting enough cycles each
            night can leave you feeling exhausted all day.</p> <p>Zleep takes the guess-work out of feeling rested, and puts you back in charge of your life by telling you the best time to go to sleep and wake up based on cutting-edge sleep science. Zleep also provides a relaxing music
            timer to help you fall asleep on those anxious nights that often torment you.
            Choose an option from the menu on the top-right to get started!</p></div>
    <div class="jumbotron">
        <h2>Your next alarm is set for <span
                style="color:#428bca;">6:30 am</span>.<br><small>8 hours and 12
                minutes from now</small></h2>
        <br><br>
</div></div>
