<!-- myAlarms container -->
    <div class="container myAlarms">
        <!-- myAlarms container [top header + create button] -->
        <div class="row myAlarms-top">
            <div class="col-xs-12 col-md-8 alarms-title-col"><h1></h1></div>
            <div class="col-xs-6 col-md-4 create-new-alarm"><a
                    href="/alarm/new" class="btn btn-default create-new-btn"><span class="glyphicon glyphicon-plus"></span>
                    CREATE NEW ALARM</a></div>
        </div>
    </div>
    <!-- myAlarms container [body] -->
    <div class="container myAlarms-body">
        <!-- myAlarms container [items]-->
        <div class="list-group">
            <div class="jumbotron">
                <h2>Your next alarm is set for <span
                        style="color:#428bca;">6:30 am</span>.<br><small>8 hours and 12
                        minutes from now</small></h2>
                <br><br>
                <h4 style="color:#999;">You should try to fall asleep at one of
                    the following times:</h4>
                <table class="table">
                    <tbody class="reminder-method">
                    <tr class="reminder-sleep">
                        <td class="time">9:30pm</td>
                        <td>
                            <table> <tbody>
                                <tr> <td>
                                        <select class="form-control method">
                                            <option>SMS</option>
                                            <option selected="selected">Courtesy call</option>
                                            <option>Email</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button> <span class="glyphicon glyphicon-remove"></span> </button>
                                </td> </tr> 
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <button><span class="glyphicon glyphicon-plus"></span></button>
                        </td> 
                    </tr>
                    <tr class="reminder-sleep">
                        <td class="time">11:00pm</td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control method">
                                            <option>SMS</option>
                                            <option selected="selected">Courtesy call</option>
                                            <option>Email</option>
                                        </select>
                                    </td>
                                    <td><button>
                                            <span class="glyphicon glyphicon-remove remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <button><span class="glyphicon glyphicon-plus"></span></button>
                        </td> 

                    </tr>
                    <tr class="reminder-sleep">
                        <td class="time">12:30am</td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control method">
                                            <option>SMS</option>
                                            <option selected="selected">Courtesy call</option>
                                            <option>Email</option>
                                        </select>
                                    </td>
                                    <td><button>
                                            <span class="glyphicon glyphicon-remove remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <button><span class="glyphicon glyphicon-plus"></span></button>
                        </td> 

                    </tr>
                    <tr class="reminder-sleep">
                        <td class="time">1:00am</td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control method">
                                            <option>SMS</option>
                                            <option selected="selected">Courtesy call</option>
                                            <option>Email</option>
                                        </select>
                                    </td>
                                    <td><button>
                                            <span class="glyphicon glyphicon-remove remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <button><span class="glyphicon glyphicon-plus"></span></button>
                        </td> 

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    