<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Sleep 101</h1>
        <p class="lead blog-description"></p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Ch.1 Introduction</h2>
                <p class="blog-post-meta">Februrary 6, 2014 by <a href="#">Gandalf</a></p>
                <p>
                    Zleep is an application that harnesses cutting-edge science to provide users
                    with a path to restful nights and a healthy lifestyle. You may be asking, "what
                    is this 'science' that you speak of?" Allow us to explain...

                    Most of western civilization has adopted the uniform 6-8 hour night of sleep,
                    following the rise and setting of the sun. However the reality of what
                    our bodies need is nothing like this convention we have all so willingly
                    accepted. Leading researchers have found that a mid-day sleeping session is
                    vital to promoting vigor and reducing stress. Further, when we sleep our body
                    enters a period of Rapid Eye Movement (REM), or REM cycles, which the body uses
                    to engage in cell repair and regeneration and other vital body functions. These
                    cycles are interspersed with non-REM sleep and most researchers today believe
                    that between 3 and 5 of these cycles is needed each night. Most sleepers undergo
                    a REM cycle of approximately 90 minutes in duration, and it is important to
                    remain unconscious during this period to allow all of the necessary body
                    functions to complete. This is the chief aim of Zleep, to understand your daily
                    schedule needs and transform your previous haphazard alarm usage into a
                    tailor-made individual sleep experience. It's time for you to stop sleeping, and
                    let us help you go to Zleep.

                </p>
                <p> 
                    We shall see you next week. We'll begin on the topic of the fundamentals of sleep
                    </p>
                    </div><!-- /.row -->

                </div>
