body {
    min-height:1200px;
    padding-top: 90px;
}



.title
{
    margin-top:100px;
    margin-bottom:0px;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0px;
    background-color: #000000;
    color: #FFFFFF;
}




.reminder-method .reminder-sleep .time {
color:#5cb85c;
}

.form-control.method {
    max-width:250px;
}
.form-conrol button {
float:left;
}

/*myAlarms page*/
.container.myAlarms {
    max-width: 870px;
    min-width:410px;
}

.myAlarms-body {
    max-width: 750px;
}


.btn-create-new {
    background-color: #DC4B39;
    color: #FFFFFF;
    float:right;
}

.create-new-alarm {
    position:absolute;
    bottom:10;
    right:0;
}

.myAlarms-top {
    position:relative;
    border-bottom: 1px solid #eee
}

.myAlarms-body {
    height:300px;
    margin-top:25px;
}

.alarm-item-days {
padding-top:5px;
color: #999;
}

/* text color */
.list-group-item-heading.alarm-item-time.wakeup{
    color: #d9534f;
}

.alarm-item-time.wake{
    color: #5cb85c;
}

.day-active {
    color: #428bca;
    font-weight: bold;

}

.list-group-item.alarm-item {
    max-width:550px;
}

.list-group-item.alarm-item.new{
margin:15px 0px 15px 0px;
}

#time {
    width:100px;
}

.row.myAlarms-top {
height: 50px;
}
