@font-face {
  font-family: Bariol-Bold;
  src: url(Bariol-Regular.otf);
}
body {
    padding-top: 90px;
}

.title
{
    margin-top:100px;
    margin-bottom:0px;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

.container.myAlarms {
    max-width: 870px;
    min-width:410px;
}


.title_top {
  font-family:Bariol-Bold;
  font-size: 28pt;
}
