require 
.alarm_list
{
   border-style:solid;
   border-color:black;
   border-width: 1px;
   padding: 10px;
   margin: 10px;
}

.day_active
{
  font-weight: bolder;
  text-decoration: underline;
  color: #5cb85c;
}

.alarm_control_padding
{
  padding-right: 15px;
}


.alarm_day
{
  font-size: 20px;
  text-align: center;
}

.alarm_description
{
  color: black;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}


.alarm_control
{
  color: black;
  font-weight: normal;
  font-size: 23px;
  padding-top: 5px;
}

.alarm_time
{
  color: red;
  font-weight: bolder;
  font-size: 25px;
}


.reminder-method .reminder-sleep .time {
color:#5cb85c;
}

.form-control.method {
    max-width:200px;
}
.form-conrol button {
float:left;
}

/*myAlarms page*/
.myAlarms-top {
    position:relative;
}
.myAlarms-body {
/*    max-width: 750px;*/
       margin-top:25px;
       display: inline-flex;
}


.new-alarm-panel {
  height: 175px;
  margin-right:10px;
  padding:10px 2px 10px 10px;
  background-color:#eee;
  margin-left: initial;
}

.new-alarm-panel .btn-calculate {
  float:right;
  margin: 10px 5px 10px 0px
}

.form-new-alarm {
  min-width:318px;
}


.form-control.alarmType.select{
 width:95px;

}
.form-control.am-pm.select{
  width:60px;
}



.btn-create-new {
    background-color: #DC4B39;
    color: #FFFFFF;
    float:right;
}
.create-new-alarm {
    position:absolute;
    bottom:10;
    right:0;
}
.alarm-item-days {
padding-top:5px;
color: #999;
}

/* text color */
.list-group-item-heading.alarm-item-time.wakeup{
    color: #d9534f;
}

.alarm-item-time.wake{
    color: #5cb85c;
}

.day-active {
    color: #428bca;
    font-weight: bold;

}

.list-group-item.alarm-item {
    min-width:220px;
    max-width:250px;
    min-height:100px;
    max-height:100px;
    padding:10px 0px 10px 10px;
}
.list-group-item.alarm-item.new{
  max-width:280px;
  min-height:300px;
  margin:15px 0px 15px 0px;

}

#time {
    width:70px;
}

.row.myAlarms-top {
height: 50px;
}

.myAlarm.form.inner.element {
  float:left;
  width:50px;
  height:50px;
}

.container.myAlarms {
max-width: 2000px;
min-width: 410px;
}

.title {
  color: #d9534f;
  font-size: 18px;
  line-height:24px;
}

#timepicker {
  width:80px;
}


.alarms-h2 {
  color: #d9534f;
  font-size:18px;
  line-height: 24px;
  
}

#col-repeat-input {
  margin-top:15px;
}

.modal-body {
min-height: 200px;
}
